<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1> Its <%= kindOfDay %> </h1>
    </div>

    <div class="box">
      <% for (let i in newListItem) { %>
        <div class="item">
          <input type="checkbox" name="">
          <p><%= newListItem[i] %></p>
        </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="newitem" placeholder="add item" autofocus autocomplete="off">
        <button type="submit" name="button">+</button>
      </form>
    </div>



  </body>
</html>
